.container4{
    position: absolute;
    display: flex;
     left: 18%;
     width: 80%;
     height: 20%;
     color: black;
     top: 30%;
     
  }

  .add{
    position: absolute;
    top: -35%;
    right: 1%;
  }